[Unit]
Description=WSL2 SSH agent bridge
Requires=wsl2-ssh-agent.socket
After=wsl2-ssh-agent.socket

[Service]
ExecStart=/usr/bin/socat - EXEC:'%h/.local/bin/wsl2-ssh-agent.exe'
StandardInput=socket
StandardOutput=socket

[Install]
WantedBy=default.target
