[Unit]
Description=WSL2 SSH agent bridge
Requires=wsl2-ssh-agent.socket
After=wsl2-ssh-agent.socket

[Service]
ExecStart=/usr/bin/socat ACCEPT-FD:3,fork EXEC:'%h/.local/bin/wsl2-ssh-agent.exe'
StandardError=journal
